name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write # This is required for authentication using OIDC
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: dart-lang/setup-dart@v1
      
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v2
        with:
            channel: stable
            version: 3.13.5
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Publish
        run: dart pub publish --force
